.animatedLink{
    color: #636d7c;
    width: 200px;
}
.animatedLink:link, greenStyle:visited{
    background-color: white;
    color: black;
    border: 2px solid #069848;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.animatedLink:hover, .animatedLink:active {
    background-color: #069848;
    color: white;
}
.animatedLink span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.animatedLink span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.animatedLink:hover span{
    padding-right: 25px;
}
.animatedLink:hover span:after {
    opacity: 1;
    right: 0;
}
.homeLink{
    width: 400px;
    height: 100px;
    font-size: x-large;
    line-height: 90px;
}
body{
    position: relative;
    min-height: 100vh;
}
