<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:insert="layout/template :: head"></div>
        <title>Laboratorios</title>
        <!--script th:inline="javascript">
            function limpiarFiltros(){
                var estados = [[${estados}]];
                document.getElementById("nombre").value = null;
                document.getElementById("dni").value = null;
                document.getElementById("estado").value = estados[3]; //Para setear el estado "CUALQUIERA"
            }
        </script-->
    </head>
    <body>
        <div th:insert="layout/template :: header"></div>
        <div class="container pt-2" align="center">

            <div class="row">
                <div class="col-12">
                    <h2>Ensayos</h2>
                    <!--form th:action="@{/laboratorios/}" method="get" th:object="${filtro}">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" name="nombre" id="nombre" th:field="*{nombre}"/>
                        <label for="dni" class="form-label">DNI</label>
                        <input type="text" name="dni" id="dni" th:field="*{dni}">
                        <label for="estado" class="form-label">Estado de tratamiento</label>
                        <select name="estadoTratamiento" id="estado" th:field="*{estadoTratamiento}">
                            <option th:each="estado: ${estados}"
                                    th:value="${estado}"
                                    th:text="${estado}"></option>
                        </select>
                        <input type="submit" value="Filtrar">
                        <input type="button" value="Limpiar filtro" onclick="limpiarFiltros()">
                    </form-->
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Realizó</th>
                            <th>Fecha realización</th>
                            <th>Controló</th>
                            <th>Fecha control</th>
                            <th>Detalles</th>
                        </tr>
                        <tr th:each="ensayo: ${ensayos}">
                            <td th:text="${ensayo.id}"></td>
                            <td th:text="${ensayo.realizo}"></td>
                            <td th:text="${ensayo.fechaRealizacion}"></td>
                            <td th:text="${ensayo.controlo}"></td>
                            <td th:text="${ensayo.fechaControl}"></td>
                            <td><a th:href="@{'/ensayos/' + ${ensayo.id}}">
                                <i class="fas fa-arrow-alt-circle-right"></i>
                            </a></td>
                        </tr>
                    </table>
                    <!--a class="btn btn-primary" href="/ensayos/nuevo">
                        <i class="fas fa-plus"></i> Cargar nuevo ensayo
                    </a-->
                    <a class="btn btn-primary" href="javascript:history.back()">
                        <i class="fas fa-arrow-left"></i> Volver
                    </a>
                </div>
            </div>
        </div>

        <footer th:replace="layout/template :: footer"></footer>
    </body>
</html>