<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:insert="layout/template :: head"></div>
        <title>Equipo - Detalles</title>
    </head>
    <body>
    <div th:insert="layout/template :: header"></div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 name="id" th:text="${equipo.nombre}" ></h1>

                <div class="card">
                    <div class="card-body">
                        <label>Tag:</label>
                        <span name="tag" th:text="${equipo.tag}"></span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <label>Marca:</label>
                        <span name="marca" th:text="${equipo.marca}"></span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <label>Modelo:</label>
                        <span name="modelo" th:text="${equipo.modelo}"></span>
                    </div>
                </div>
            </div>

            <div>
                <a class="btn btn-primary" th:href="@{/laboratorios/{idLaboratorio}/establecimientos/{idEstablecimiento}/sectores/{idSector}/salas/{idSala}/equipos/{idEquipo}/ensayos/nuevo
                                (idLaboratorio=${idLaboratorio},idEstablecimiento=${idEstablecimiento},idSector=${idSector}, idSala=${idSala}, idEquipo=${equipo.id})}"/>
                <i class="fa fa-plus"></i> Cargar ensayo
                </a>
                <a class="btn btn-primary" th:href="@{/laboratorios/{idLaboratorio}/establecimientos/{idEstablecimiento}/sectores/{idSector}/salas/{idSala}/equipos/{idEquipo}/edicion
                                (idLaboratorio=${idLaboratorio},idEstablecimiento=${idEstablecimiento},idSector=${idSector}, idSala=${idSala}, idEquipo=${equipo.id})}">
                    <i class="far fa-edit"></i> Editar
                </a>
                <a class="btn btn-primary" href="javascript:history.back()">
                    <i class="fas fa-arrow-left"></i> Volver
                </a>
            </div>
        </div>



    </div>

    <footer th:replace="layout/template :: footer"></footer>

    </body>
</html>