<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:insert="layout/template :: head"></div>
        <title>Nuevo ensayo</title>
        <script type="text/javascript" th:src="@{/js/funcionesNuevoEnsayo.js}"></script>

    </head>

    <body>
        <div th:insert="layout/template :: header"></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Nuevo ensayo</h1><br>
                    <form class="g-3" th:action="@{/ensayos}" method="post" th:object="${ensayo}">

                        <div class="mb-3">
                            <label for="laboratorio" class="form-label">Laboratorio</label>
                            <select id="laboratorio" class="form-select" name="laboratorio" th:onchange="fillSelect()" >
                                <option selected th:value="${null}">Elegí un laboratorio</option>
                                <option th:each="laboratorio: ${laboratorios}"
                                        th:value="${laboratorio}"
                                        th:text="${laboratorio.nombre}">
                                </option>
                            </select>
                        </div>
                        <p id="asd">51</p>
                        <!--div id="selectEstablecimiento" hidden="true" class="mb-3">
                            <label for="establecimiento" class="form-label">Establecimiento</label>
                            <select id="establecimiento" class="form-select" name="establecimiento">
                                <option selected th:value="null">Elegí un establecimiento</option>
                                <option th:each="establecimiento: ${laboratorios..establecimientos}"
                                        th:value="${establecimiento.id}"
                                        th:text="${establecimiento.nombre}">
                                </option>
                            </select>
                        </div-->

                        <div class="mb-3">
                            <label class="form-label" for="realizo">Realizó</label>
                            <input id="realizo" class="form-control" type="text" name="realizo" th:field="*{realizo}"/>
                            <span th:if="${#fields.hasErrors('realizo')}" th:errors="*{realizo}" style="color: red"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="fechaRealizacion">Fecha realización</label>
                            <input id="fechaRealizacion" class="form-control" type="date" name="fechaRealizacion" th:field="*{fechaRealizacion}"/>
                            <span th:if="${#fields.hasErrors('fechaRealizacion')}" th:errors="*{fechaRealizacion}" style="color: red"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="controlo">Controló</label>
                            <input id="controlo" class="form-control" type="text" name="controlo" th:field="*{controlo}"/>
                            <span th:if="${#fields.hasErrors('controlo')}" th:errors="*{controlo}" style="color: red"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="fechaControl">Fecha control</label>
                            <input id="fechaControl" class="form-control" type="date" name="fechaControl" th:field="*{fechaControl}"/>
                            <span th:if="${#fields.hasErrors('fechaControl')}" th:errors="*{fechaControl}" style="color: red"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="protocolo">Protocolo</label>
                            <input id="protocolo" class="form-control" type="text" name="protocolo" th:field="*{protocolo}"/>
                        </div>

                        <input class="btn btn-success" type="submit" name="cargar" value="Cargar">
                        <a class="btn btn-primary" th:href="@{'/ensayos/'}">
                            <i class="fas fa-arrow-left"></i> Volver
                        </a>
                    </form>
                </div>
            </div>

        </div>
        <footer th:replace="layout/template :: footer"></footer>
    </body>
</html>