<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:insert="layout/template :: head"></div>
        <title>Ensayo - Detalles</title>
    </head>
    <body>
    <div th:insert="layout/template :: header"></div>

    <form class="g-3" th:action="@{/trabajos/{idTrabajo}/ensayos/{idEnsayo}/realizacion(idTrabajo = ${idTrabajo}, idEnsayo = ${formRealizacionEnsayo.ensayo.id})}"
          method="post" th:object="${formRealizacionEnsayo}">
        <div class="container">
            <div class="row">
                <h2 class="p-5" name="id" th:text="'Ensayo - ID ' + *{ensayo.id}"></h2>
                <div th:if="*{ensayo.descripcion.contains('Ensayo de variable ambiental')}" th:insert="ensayos/form_ensayo_variables_ambientales :: form-datos"></div>
                <div th:if="*{ensayo.descripcion.contains('Ensayo de recuperación de clase')}" th:insert="ensayos/form_ensayo_recuperacion :: form-datos"></div>

                <div th:insert="ensayos/form_ensayo_campos_genericos :: form-datos"/>
                <!--input hidden="true" th:attr="name='ensayo'" th:value="*{ensayo.descripcion}"/-->
                <input class="btn btn-success" type="submit" name="cargar" value="Cargar">
                <a class="btn btn-primary" href="javascript:history.back()">
                    <i class="fas fa-arrow-left"></i> Volver
                </a>
            </div>

        </div>
    </form>

    <footer th:replace="layout/template :: footer"></footer>

    </body>
</html>