<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:insert="layout/template :: head"></div>
        <title>Laboratorio - Detalles</title>
    </head>
    <body>
    <div th:insert="layout/template :: header"></div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 name="id" th:text="${laboratorio.id} + ' - ' + ${laboratorio.nombre}" ></h1>
                <div class="card">
                    <div class="card-body">
                        <label>Razón social:</label>
                        <span name="razonSocial"th:text="${laboratorio.razonSocial}"></span>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <label>E-mail:</label>
                        <span name="email" th:text="${laboratorio.email}"></span>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <label>Teléfono:</label>
                        <span name="telefono" th:text="${laboratorio.telefono}"></span>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <label>CUIT:</label>
                        <span name="cuit" th:text="${laboratorio.cuit}"></span>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <label>Página web:</label>
                        <span name="website" th:text="${laboratorio.website}"></span>
                    </div>
                </div><br>

                <div>

                    <button class="btn btn-primary"
                            onclick="document.getElementById('form-nueva-div').style.display = 'block'">
                        Agregar división
                    </button>
                    <a class="btn btn-primary" th:href="@{'/laboratorios/' + ${laboratorio.id} + '/edicion'}">
                        <i class="far fa-edit"></i> Editar
                    </a>
                    <a class="btn btn-primary" th:href="@{'/laboratorios/'}">
                        <i class="fas fa-arrow-left"></i> Volver
                    </a>
                </div>

            </div>

        </div>

        <div id="form-nueva-div" style="display: none">
            <form class="g-3" th:action="@{/divisiones}" method="post" th:object="${division}">
                <div class="mb-3">
                    <label class="form-label" for="nombre">Nombre</label>
                    <input id="nombre" class="form-control" type="text" name="nombre" th:field="*{nombre}"/>
                    <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color: red"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="tipoDivision">Tipo</label>
                    <select id="tipoDivision" class="form-select" name="tipoDivision"
                            th:field="*{tipo}">
                        <option th:each="tipoDiv: ${tipos}"
                                th:value="${tipoDiv}"
                                th:text="${tipoDiv}"></option>
                    </select>

                </div>
                <input class="btn btn-success" type="submit" name="cargar" value="Cargar">
            </form>
            <button class="btn btn-danger"
                    onclick="document.getElementById('form-nueva-div').style.display = 'none'">
                Cancelar
            </button>
        </div>

    </div>


    <footer th:replace="layout/template :: footer"></footer>

    </body>
</html>