<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:insert="layout/template :: head"></div>
        <title>Laboratorio - Detalles</title>
    </head>
    <body>
    <div th:insert="layout/template :: header"></div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="p-5" name="id" th:text="${laboratorio.nombre}"></h2>
                <div class="card">
                    <div class="card-body">
                        <label>Razón social:</label>
                        <span name="razonSocial"th:text="${laboratorio.razonSocial}"></span>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <label>E-mail:</label>
                        <span name="email" th:text="${laboratorio.email}"></span>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <label>Teléfono:</label>
                        <span name="telefono" th:text="${laboratorio.telefono}"></span>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <label>CUIT:</label>
                        <span name="cuit" th:text="${laboratorio.cuit}"></span>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <label>Página web:</label>
                        <span name="website" th:text="${laboratorio.website}"></span>
                    </div>
                </div><br>
            </div>
            <div class="col-6">
                <div style="margin-top: 142px" class="card">
                    <div class="card-body">
                        <label class="pb-3">Establecimientos:</label>
                        <ul name="establecimientos" th:each="establecimiento: ${laboratorio.establecimientos}"
                            style="list-style-type: none; padding: 0">
                            <li>
                                <div class="card" style="width: fit-content;">
                                    <div class="card-body">
                                        <a th:href="@{'/laboratorios/' + ${laboratorio.id} + '/establecimientos/' + ${establecimiento.id}}"
                                           th:text="${establecimiento.nombre} ">
                                        </a>
                                    </div>

                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <button class="btn btn-primary"
                            onclick="document.getElementById('form-nueva-div').style.display = 'block'">
                        Agregar establecimiento
                    </button>
                    <a class="btn btn-primary" th:href="@{/laboratorios/{idLaboratorio}/edicion(idLaboratorio=${laboratorio.id})}">
                        <i class="far fa-edit"></i> Editar
                    </a>
                    <a class="btn btn-primary" href="javascript:history.back()">
                        <i class="fas fa-arrow-left"></i> Volver
                    </a>
                </div>
            </div>
        </div>

        <div id="form-nueva-div" style="display: none">
            <form class="g-3" th:action="@{/laboratorios/{idLaboratorio}/establecimientos(idLaboratorio=${laboratorio.id})}"
                  method="post" th:object="${establecimiento}">
                <div class="mb-3">
                    <label class="form-label" for="nombre">Nombre</label>
                    <input id="nombre" class="form-control" type="text" name="nombre" th:field="*{nombre}"/>
                    <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color: red"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="direccion">Dirección</label>
                    <input id="direccion" class="form-control" type="text" name="direccion" th:field="*{direccion}"/>
                    <span th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}" style="color: red"></span>
                </div>
                <input class="btn btn-success" type="submit" name="cargar" value="Cargar">
            </form>
            <button class="btn btn-danger"
                    onclick="document.getElementById('form-nueva-div').style.display = 'none'">
                Cancelar
            </button>
        </div>

    </div>


    <footer th:replace="layout/template :: footer"></footer>

    </body>
</html>