<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:fragment="form-datos">
        <div th:if="*{ensayo.descripcion.contains('Ensayo de variable ambiental')}" th:insert="ensayos/form_ensayo_variables_ambientales :: form-datos"></div>
        <div th:if="*{ensayo.descripcion.contains('Ensayo de recuperación de clase')}" th:insert="ensayos/form_ensayo_recuperacion :: form-datos"></div>
        <div th:insert="ensayos/form_ensayo_campos_genericos :: form-datos"/>
    </div>

    <div th:fragment="form-datos-consulta">
        <div th:if="*{descripcion.contains('Ensayo de variable ambiental')}" th:insert="ensayos/form_ensayo_variables_ambientales :: form-datos-consulta"></div>
        <div th:if="*{descripcion.contains('Ensayo de recuperación de clase')}" th:insert="ensayos/form_ensayo_recuperacion :: form-datos-consulta"></div>
        <div th:insert="ensayos/form_ensayo_campos_genericos :: form-datos"/>
        <div class="mb-3">
            <label class="form-label" for="estado">Estado</label>
            <input id="estado" class="form-control" type="text" name="estado" th:field="*{estado}"
                   th:style="*{estado.toString()} == 'APROBADO'  ? 'color: limegreen' : 'color: red' "
            />
        </div>
    </div>

</body>
</html>